

@model ClassicCar.Models.CarTransmissionViewModel
@{
    ViewData["Model"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Cars" asp-action="Index" method="get">
    <p>
        <select asp-for="CarTransmission" asp-items=" Model.Transmission">
            <option value="">All</option>
        </select>
        Model: <input type="text" name="SearchString" />
        <input type="submit" valur="Filter" />
    </p>
</form>
<table class="table" style="font-family:Rockwell;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Transmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].AdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Price)
            </th>
            <th>@Html.DisplayNameFor(model => model.Cars[0].Rating)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ad_Number">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ad_Number">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ad_Number">Delete</a>|

                <form class="rating">
                    <label>
                        <input type="radio" name="stars" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="stars" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="stars" value="3" checked />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="stars" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="stars" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </form>
            </td>
        </tr>




        }

    </tbody>
</table>


